img {
  border-radius: 4px;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  border-radius: 1rem;
  border: 1px solid #ddd;
  margin: 1rem;
}
.card:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
