<app-nav> </app-nav>
<div class="row">
  <div class="col-sm-12">
    <div class="row barra-busquedas">
      <div class="col-sm-3">
        <app-input-busqueda> </app-input-busqueda>
      </div>
      <div class="col-sm-3">
        <app-seleccion-opciones> </app-seleccion-opciones>
      </div>
      <div class="col-sm-3">
        <app-seleccion-opciones> </app-seleccion-opciones>
      </div>
      <div class="col-sm-3">
        <app-seleccion-opciones> </app-seleccion-opciones>
      </div>
    </div>
    <div class="container-fluid">
      <app-tabla> </app-tabla>
    </div>
  </div>
</div>
