<p>login works!</p>
<form [formGroup]="registerForm" (ngSubmit)="registar()">
  <div class="mb-3">
    <label for="inputUser" class="form-label">Email address</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="pepito69"
      formControlName="username"
      [class.input-border-error]="usernameField?.touched && usernameField?.invalid"
      [class.input-border-exito]="usernameField?.valid"
    />
  </div>
  <div *ngFor="let error of msgErrorsUsername">
    <span>
      {{error}}
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Example textarea</label
    >
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="******"
      formControlName="password"
      [class.input-border-error]="passwordField?.touched && passwordField?.invalid"
      [class.input-border-exito]="passwordField?.valid"
    />
  </div>
  <div *ngFor="let error1 of msgErrorsPassword">
    <span>
      {{error1}}
    </span>
  </div>
</form>
<button (click)="onMenuOpciones()">Ir a opciones</button>
